<style>
.pragraf {color: black; font-size: 30pt;background-color : red;}
  #prr{color: black; font-size: 30px;background-color : white;}
  p{
    font-size:13pt;
    color:white;
    text-align: center;
  }
  h1 { color: white; }
  ol { display: flex; }
  li{
    font-size: 1.5em;
    color: white;
  margin: 20px; font-size: 30px;}
  .highlight{
    font-weight:bold;
    color:red;}
  .done{text-decoration:line-through;}
  .text{
    background-color: #00008B;
    width:40%;
    border: 2px solid powderblue;
    margin: 1em;
    padding:0.5em;
    float:left;}
    img{
      width: 10%;
      border: 2px solid #9400D3;
      padding: 3px;
      margin: 4px;
      float:right;
    }
  </style>
